.share-icon-container {
    width: 0.8em;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
}
.share-icon-container:hover {
    cursor: pointer;
    filter: brightness(95%);
}
.share-icon {
    height: inherit;
    width: inherit;
}

