.side-bar-frame {
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 0;
    left: 0;
}

.side-bar {
    position: absolute;
    left: -5rem; /* Start offscreen */
    display: flex;
    flex-flow: column;
    background: lightblue;
    width: 5rem;
    height: fit-content;
    z-index: 3;
    transition: left 0.3s ease; /* Add transition for left property */
}

.side-bar.open {
    left: 0; /* Move to the right when open */
}

.side-bar-holder {
    height: inherit;
    width: inherit;
    background: yellow;
}

/* Adjust left position on hover */
.side-bar-frame:hover .side-bar {
    left: 0; /* Move to the right when hovered */
}
